{# src/AppBundle/Resources/views/form/step1.html.twig #}

<!-- Vue du formulaire contenu dans OrderType -->
<a href="#step1" class="text-muted" data-toggle="collapse" id="buy">Acheter un billet</a>

<div class="collapse" id="step1">
    {{ form(form) }}
</div>
