{# src/AppBundle/Resources/views/form/step1.html.twig #}

<a href="#step1" class="text-muted" data-toggle="collapse" id="buy">Acheter un billet</a>
<div class="collapse" id="step1">
    <h3>Etape 1</h3>
    {{ dump(form) }}
</div>
